@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #005a87;
  --secondary-color: #003c58;
  --accent-color: #ff9800;
  --background-color: #f9f9f9;
  --text-color: #333;
  --detail-background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--text-color);
  background: var(--background-color);
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--background-color)
}

/* Header Styles */
header {
  padding: 20px 0;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

h2,
h3 {
  color: #005a87;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

header .container,
#hero,
footer .container {
  background-color: transparent;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url('../pics/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Section Styles */
section {
  padding: 40px 0;
  width: 100%;
}

#hero {
  text-align: center;
  background: #e9eff1;
  border-bottom: 5px solid var(--primary-color);
}

#about,
#contact {
  text-align: center;
  background: var(--background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#teamPhoto {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Services Section */
#services .service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

#services .service {
  padding: 20px;
  text-align: center;
  background: var(--background-color);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

#services .service:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
}

/* Button Styles */
.service-list button,
.submit-btn {
  padding: 15px 20px;
  border: none;
  color: white;
  background: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-list button:hover {
  background: var(--secondary-color);
  transform: translateY(-2px);
}

/* Input and Form Styles */
.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

textarea {
  min-height: 80px;
  resize: vertical;
}

.submit-btn {
  width: 100%;
  padding: 10px 20px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background: var(--accent-color);
}

/* Footer Styles */
footer {
  padding: 20px 0;
  text-align: center;
  color: var(--background-color);
  background: #333;
}

/* Service Detail Styles */
.service-detail {
  max-height: 0;
  width: auto;
  padding: 0 20px;
  background-color: var(--detail-background-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out;
}

/* Projects and Carousel Styles */
#projects {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 140px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.project {
  flex: 0 0 33.333%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.6;
  filter: blur(2px);
}

.project.active {
  transform: scale(1.5);
  opacity: 1;
  filter: blur(0px);
  z-index: 1;
}

.project.move-out {
  transform: scale(0.8);
  opacity: 0;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project img:hover {
  transform: scale(1.03);
}

.project h4,
.project p {
  margin: 10px 0;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {

  .container,
  .input-field,
  .submit-btn {
    width: 100%;
  }

  .project {
    flex: 0 0 50%;
  }

  .project.active {
    transform: scale(1.2);
  }

  h1 {
    font-size: 2em;
  }
}

/* Service Photos */
.service-image {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.service-image img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}